.text1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: lightskyblue;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  /*border:solid 10px;*/
  /*width:200px;
    height:200px;*/
  padding: 20px;
  padding-top: 100px;
  display: block;
  position: relative;
  height: 750px;
}
.text1dark {
  background-color: black;
}
.text-dark {
  color: white;
}
.text2 {
  position: absolute;
  right: 200px;
  top: 750px;
}
.p1 {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 2.5rem;
}
.p2 {
  font-weight: bold;
  font-size: xx-large;
  font-family: "Dancing Script", cursive;
}

.cloud2 {
  position: relative;
  left: 200px;
  bottom: 250px;
  animation: cloud1anim 10s infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.sun {
  position: absolute;
  right: 100px;
  top: 400px;
  background-color: cornflowerblue;
  border-color: black;
  height: 100px;
  width: 100px;
  background-color: rgb(230, 230, 12);
  box-shadow: 0px 0px 10px 20px rgb(204, 204, 42);
  border-radius: 50%;
}
.moon {
  position: absolute;
  right: 100px;
  top: 400px;
  background-color: cornflowerblue;
  content: "click for light mode";
  height: 100px;
  width: 100px;
  background-color: rgb(158, 158, 155);
  box-shadow: 0px 0px 10px 20px rgb(255, 255, 255);
  border-radius: 50%;
}

.cloud1 {
  position: relative;
  right: 100px;
  top: 10px;
  animation: cloud1anim 10s infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}
@keyframes cloud1anim {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}
.mountain {
  position: static;
  margin: 0;
  margin-top: 100px;
}

.introduction {
  font-size: 5rem;
  width: 50%;
  margin-top: 10rem;
  margin-right: 80%;
  font-family: "Abril Fatface", serif;
}
.introductionanim {
  animation: introIn 1s;
}
@keyframes introIn {
  from {
    opacity: 0;
    /* transform: translateY(3rem); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0rem); */
  }
}

.itachi {
  margin-top: 30px;
  margin-left: -0%;
  border-radius: 130px;
}
.basic {
  margin-top: 5rem;
}
.basic-details {
  font-family: "Abril Fatface", serif;
  font-size: 1.6rem;
  font-weight: bolder;
}
.box {
  box-shadow: 0px 0px 50px black;
  width: 80%;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2.8rem;
  margin-top: 5rem;
}
.box-dark {
  box-shadow: 0px 0px 20px white;
}
.middle-container {
  margin-top: 4rem;
}
.middle-containerwhite {
  color: white;
}
.tech-item {
  font-family: "Abril Fatface", serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: -2rem;
}
.techimg-div {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  gap: 30rem;
  margin-top: 3rem;
}
.tech-img {
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 10px black;
}
.skills {
  font-size: xx-large;
  font-family: "Dancing Script", cursive;
  color: #66bfbf;
  font-weight: bolder;
}
.skill-row {
  font-size: xx-large;
  font-family: "Dancing Script", cursive;
}
.bottom-container {
  margin-top: 100px;
  background-color: #66bfbf;
  height: 120px;
  padding-right: 20px;
  padding-top: 30px;
}
.footer-link {
  margin-left: 20px;
  text-decoration: none;
}
a:hover {
  color: white;
}
body {
  margin: 0;
  text-align: center;
}
h1 {
  margin: 80px, auto, 0px, auto;
  font-family: "Dancing Script", cursive;
  font-size: 90px;
  color: #eaf6f6;
  line-height: 2px;
}
h2 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  font-weight: normal;
  color: #eaf6f6;
}
#gettouch {
  color: #66bfbf;
}
#skills {
  color: #66bfbf;
}
h3 {
  color: #11999e;
}
a {
  color: #11999e;
}
.boxn {
  background-color: cornflowerblue;
  height: 200px;
  width: 200px;
  margin-left: 200px;
}

.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}
.description {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  font-weight: 800;
  text-align: right;
  padding-right: 0px;
}
#comm {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 800;
}
.code-img {
  float: left;
  height: 200px;
  margin-right: 30px;
}
.comm-img {
  float: right;
  height: 200px;
  margin-left: 30px;
}

hr {
  width: 100%;
  border: 0px;
  border-top: dotted 5px;
  height: 30px;
  background-color: transparent;
  color: gray;
  margin-top: 2rem;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn1 {
  margin-top: 40px;
  height: 2rem;
  width: 25rem;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright {
  color: #eaf6f6;
  margin-top: 20px;
}
.contact-me {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-op {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.instagram {
  margin-left: 25px;
}
.facebook {
  margin-left: 40px;
}
